@import "../bootstrap/less/bootstrap.less";
@import "../jsmm-applet/index.less";
@import "../dares/index.less";

@import ~"url(http://fonts.googleapis.com/css?family=Arimo:400,700)";

html {
	height: 100%;
	// -webkit-font-smoothing: antialiased;
}

// some bootstrap tweaks
body, input, button, select, textarea {
	font-family: Arimo, Helvetica, Arial, sans-serif;
}

.tooltip {
	font-size: 13px;
	.tooltip-inner {
		padding: 6px 8px;
	}
}

.main {
	padding: 0px;
	margin: 0px auto;
	height: 100%;
	width: @applet-width;
}

.header {
	position: relative;

	.header-title {
		position: relative;
		z-index: 2;
		font-size: 70px;
		line-height: 70px;
		margin-left: 5px;
		text-shadow: 0px 0px 2px black;
		text-decoration: none;

		.header-js {
			font-weight: lighter;
			color: hsl(223, 30%, 85%);
		}

		.header-dares {
			font-weight: bold;
			color: hsl(120, 30%, 85%);
		}
	}

	#header-menu {
		position: relative;
		z-index: 1;
		margin-bottom: 10px;
		width: 100%;
		margin-top: -40px;

		.header-menu-first {
			margin-left: 270px;
		}

		li a {
			color: hsl(0, 0%, 40%);
			font-size: 18px;
			padding-top: 8px;
			padding-bottom: 6px;

			.icon {
				vertical-align: middle;
				margin-top: -5px;
			}
		}

		.active > a, .active > a:hover {
			color: hsl(0, 0%, 20%);
		}
	}

	#header-arrow {
		position: absolute;
		right: 14px;
		top: 45px;
	}

	#header-login {
		position: absolute;
		top: 10px;
		right: 0px;
		width: 100%;

		form {
			margin: 0;
		}

		.login-field-username, .login-field-password, .btn-group, .login-error, .login-loader, .login-logout, .login-details {
			float: right;
			margin-right: 5px;
		}

		.btn-group, .login-logout {
			margin-right: 0;
		}

		.login-error {
			margin: 5px 10px 0;
			cursor: pointer;
			.opacity(80);

			&:hover {
				.opacity(100);
			}
		}

		.login-loader {
			margin-top: 6px;
			margin-right: 10px;
		}

		.login-details {
			margin-right: 10px;

			.login-details-name {
				margin-right: 5px;
				font-weight: bold;
			}

			.login-details-points, .icon-trophy {
				display: none;
			}
		}
	}
}

.header-register {
	form {
		margin: 15px 0 0;
	}

	.modal-footer {
		text-align: left;
	}

	.header-register-icon-right {
		margin-left: 7px;
		position: relative;
		width: 250px;
		font-style: normal;
	}

	.tooltip {
		display: inline-block;
		position: absolute;
		top: -10px;
		left: 17px;
		.opacity(100);

		&.hide {
			display: none;
		}
	}

	.modal-footer .icon-loader {
		margin-left: 10px;
		margin-top: 1px;
	}

	.header-register-confirmation {
		display: none;
	}

	&.header-register-done {
		.header-register-form {
			display: none;
		}

		.header-register-submit {
			display: none;
		}

		.header-register-confirmation {
			display: block;
		}
	}
}

.previewText {
	padding: 15px;
	background-color: #DDD;
	.border-radius(4px);

	@shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0px 1px 1px rgba(130, 130, 130, 0.4);
	.box-shadow(@shadow);
	padding: 10px;

	width: 700px;
	margin-left: round((1085px - 700 - 15*2)/2);
	margin-top: 10px;

	.volunteers-superheroes button {
		margin-right: 5px;
	}

	.janpaul123 {
		padding: 0;
		text-align: center;
		float: right;
		margin: 20px;

		img {
			.border-radius(0px);
			width: 100%;
			margin: 0;
		}

		span {
			display: block;
			padding: 5px;
		}
	}
}

.example {
	position: relative;
	padding-top: 30px;
	padding-bottom: 40px;

	.example-text-top {
		background-color: #DDD;
		.border-radius(4px);

		@shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0px 1px 1px rgba(130, 130, 130, 0.4);
		.box-shadow(@shadow);
		padding: 10px;

		.example-arrow {
			#popoverArrow > .top(10px, #ddd);
			position: absolute;
			width: 0;
			height: 0;
			margin-bottom: -10px;
		}

		position: absolute;
		top: 20px;
		font-size: 18px;
		font-weight: lighter;
		left: 23%;
	}

	.example-text-bottom {
		background-color: #DDD;
		.border-radius(4px);

		@shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0px 1px 1px rgba(130, 130, 130, 0.4);
		.box-shadow(@shadow);
		padding: 10px;

		.example-arrow {
			#popoverArrow > .bottom(10px, #ddd);
			position: absolute;
			width: 0;
			height: 0;
			margin-top: -10px+2;
		}

		position: absolute;
		top: 625px;
		font-size: 18px;
		font-weight: lighter;
		left: 70%;
	}
}

.how {
	margin-bottom: 30px;

	.how-header {
		font-size: 50px;
		line-height: 50px;
		font-weight: bold;
		font-variant: small-caps;
		margin-bottom: 20px;
	}

	.how-text {
		position: relative;
		width: 100%;

		.how-text-1 {
			width: 40%;
		}

		.how-text-2 {
			position: absolute;
			left: 50%;
			top: 0px;
			width: 45%;
		}
	}
}

.intro {
	margin-bottom: 40px;
	position: relative;
	overflow: hidden;

	> div, > button {
		float: left;
		margin-right: 30px;
	}

	.intro-arrow {
		position: absolute;
		left: 185px;
		top: 58px;
	}
}

.footer {
	border-top: 1px solid #CCC;
	color: #666;
	padding: 10px 10px 8px;
}

.copyright {
}

.credits {
	font-size: 10px;
}

#content {
	overflow: hidden;
}

.create-collection-mine, .learn-collection-played, .learn-collection-all, .superheroes-collection-played, .superheroes-collection-mine, .superheroes-collection-theirs {
	float: left;
	margin: 20px;
}