[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "jquery-ui-colorpicker"]
	path = jquery-ui-colorpicker
	url = https://bitbucket.org/lindekleiv/jquery-ui-colorpicker.git
