@import "colorpicker/jquery.ui.colorPicker.less";
@import "bootstrap/less/bootstrap.less";
@import "basiceditor/basiceditor.less";
@import "console/console.less";

textarea[readonly] {
  cursor: text;
}

html, body {
	background-color: #222;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#main {
	background-color: #000;
	max-width: 1200px;
	min-width: 930px;
	min-height: 400px;
	max-height: 700px;
	color: #333;
	font-family: Helvetica;
	font-size: 16px;
	line-height: 25px;
	position: relative;
	padding: 0px;
	margin: 0px auto;
	height: 100%;
}

#editor {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: 10px;
	right: 17px;
	bottom: 17px;
	width: auto;
	height: auto;
}

#console {
	position: absolute;
	top: 50px;
	left: 17px;
	right: 50%;
	margin-right: 10px;
	bottom: 17px;
	width: auto;
	height: auto;
}

#editor-bar {
	position: absolute;
	top: 3px;
	left: 50%;
	margin-left:10px;
}

#extra-button {
	.dropdown-menu a {
		font-size: 12px;
	}
}

#title {
	position: absolute;
	left: 22px;
	top: 5px;
	font-size: 58px;
	line-height: 58px;
}

/* put in bootstrap, forgot btn-warning */
.btn-warning .caret {
  border-top-color: #ffffff;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

/*
#toolbar {
	position: absolute;
	top: 12px;
	left: 50%;
	margin-left:200px;
}

.toolbar-button .btn-inverse {
	background-color: #2a2a2a;
}

.toolbar-button .dropdown-menu {
	background-color: #2a2a2a;
	border-color: rgba(0, 0, 0, 0.1);
}

.toolbar-button .dropdown-menu a {
	font-family: "Courier", monospace;
	font-size: 12px;
	color: #fff;
}

.toolbar-button .dropdown-menu .divider {
	background-color: #bbb;
	border-bottom-color: #2a2a2a;
}
*/