@import "../global.less";

.console {
	position: relative;
	background-color: @code-background-color;
	overflow: auto;
}

.console-highlighting {
	cursor: crosshair;
}

.console-autoscroll {
	border-bottom: 1px solid @console-auto-scroll-border-color;
}

.console-content {
	margin: 10px;
}

.console-error {
	opacity: 0.5;
}

.console-line {
	color: @code-color;
	font-size: @code-font-size;
	line-height: @code-line-height;
	font-family: @code-font-family;
	background-color: @code-background-color;
	min-height: @code-line-height;
	border: none;
	margin: 0px;
	outline: none;
	resize: none;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.console-highlight-line {
	background-color: @highlight-color;
}
