@import "../bootstrap/less/mixins.less";

.based-editor {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #333;
	overflow: auto;
}

.based-code, .based-mirror {
	&:focus {
		outline:0px !important;
    	.box-shadow(none);
    	.transition(none);
	}

	background-color: #333;
	border: none;
	font-family: "Courier", monospace;
	color: #0d0;
	margin: 0px;
	padding: 10px;
	font-size: 14px;
	outline: none;
	resize: none;
	white-space: pre;
	line-height: 16px;
	position: absolute;

	.box-shadow(none);
	.border-radius(0);

	
}

.based-code {
	top: 0px;
	left: 150px;
	min-width: 430px;
	min-height: 430px;
	border-left: solid 1px #444;

	&:focus {
		border-left: solid 1px #444;
	}
}

/*#code*/.based-error {
	border-left-color: #a54 !important;
}

/*#code*/.based-stepping {
	border-left-color: #bbb !important;
}

.based-mirror-container {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.based-margin {
	font-family: "Courier", monospace;
	color: #ddd;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 10px;
	overflow: visible;
	z-index: 5;
}

.based-margin-error, .based-margin-arrow {
	position: absolute;
	top: 0px;
	right: 5px;
	cursor: pointer;
	cursor: hand;
	z-index: 10;
	margin-top: -31px;
}

@message-arrow-size: 5px;

.based-messagebox {
	position: absolute;
	margin-top: -9px + @message-arrow-size;
	margin-left: -18px;
	display: block;
	background-color: rgba(30, 30, 30, 0.95);
	font-size: 14px;
	z-index: 10;
	cursor: pointer;
	cursor: hand;
	.border-radius();

	.arrow {
		#popoverArrow > .bottom(@message-arrow-size, rgba(30, 30, 30, 0.95));
		position: absolute;
		width: 0;
		height: 0;
		margin-top: -@message-arrow-size;
	}
}

.based-messagecol {
	position: absolute;
	left: 5px;
	top: 5px;
}

.based-message {
	padding: 5px 12px;
	max-width: 250px;
	color: #0E0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.based-message .msg-value {
	font-weight: bold;
	color: #ee0;
}

.based-marking {
	position: absolute;
	background-color: rgba(50, 250, 50, 0.4);
	margin-top: -26px;
	margin-left: -18px;
	padding: 2px 1px 14px 1px;
	cursor: pointer;
	cursor: hand;

	&:hover {
		background-color: rgba(50, 250, 50, 0.5);
	}
}

.based-lineMsg {
	position: absolute;
	font-size: 12px;
	margin-top: -29px;
	left: 4px;
	right: 24px;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
	text-align: right;
}
