/// TEXTAREA ///
.editor {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: @editor-background-color;
	overflow-x: hidden;
	overflow-y: auto;
}

.editor-code, .editor-mirror {
	.code-foreground();
	background-color: @editor-background-color;
	position: absolute;
	border: none;
	margin: 0px;
	padding: 10px;
	outline: none;
	resize: none;
	white-space: pre;
}

.editor-code {
	top: 0px;
	left: @editor-margin-size;
	min-width: 430px;
	min-height: 430px;
	border-left: solid 1px @editor-margin-border-color;
	&:focus {
		border-left: solid 1px @editor-margin-border-color;
		outline:0px !important;
    	.box-shadow(none);
	}
	.transition(border-left 0.2s ease-in-out);
}

.editor-highlighting {
	cursor: crosshair;
}

.editor-error {
	border-left-color: @editor-margin-border-color-error !important;
}

.editor-step {
	border-left-color: @editor-margin-border-color-step !important;
}

/// MIRROR ///
.editor-mirror {
	padding-right: 0px;
	padding-bottom: 0px;
}

.editor-mirror-container {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

/// MARGIN ///
.editor-margin {
	position: absolute;
	top: 0px;
	left: 0px;
	width: @editor-margin-size;
	height: 10px;
	overflow: visible;
	z-index: 5;
}

.editor-margin-icon {
	position: absolute;
	top: 0px;
	right: 5px;
	cursor: pointer;
	z-index: 10;
	margin-top: -5px;
}

.editor-margin-message-icon-step {
	.transition(top 0.1s ease-in-out);
}

/*
.editor-lineMsg {
	position: absolute;
	font-size: 12px;
	margin-top: -29px;
	left: 4px;
	right: 24px;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
	text-align: right;
}
*/

/// SURFACE ///
.editor-surface {
	position: absolute;
	display: inline-block;
	width: 525px;
}

/// MARKING ///
.editor-marking {
	position: absolute;
	background-color: @editor-marking-color;
	margin-top: 1px;
	margin-left: 1px;
	cursor: pointer;

	&:hover, &.active {
		background-color: @editor-marking-color-active;
	}
}

/// HIGHLIGHT ///
.editor-highlight {
	cursor: crosshair;
	background-color: @highlight-color;
	&:hover {
		background-color: @highlight-color;
	}
}

/// BOX ///
@box-arrow-size: 5px;
.editor-box {
	position: absolute;
	margin-top: @box-arrow-size + 1px;
	display: block;
	background-color: @editor-box-background-color;
	font-size: 14px;
	z-index: 10;
	cursor: pointer;
	.border-radius();

	@shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0px 1px 1px rgba(130, 130, 130, 0.4);
	.box-shadow(@shadow);

	.editor-box-arrow {
		#popoverArrow > .bottom(@box-arrow-size, @editor-box-background-color);
		position: absolute;
		width: 0;
		height: 0;
		margin-top: -@box-arrow-size+1px;
	}

	.editor-box-message {
		padding: 5px 12px;
		max-width: @editor-box-max-width;
		color: @editor-box-color;
		overflow: hidden;
		text-overflow: ellipsis;

		var {
			font-weight: bold;
			font-style: normal;
			color: @editor-box-value-color;
		}
	}
}

/// EDITABLES ///
.editor-number-editable, .editor-number-editable-dragging {
	cursor: col-resize !important;
}

/// COLORPICKER ///
div.colorpicker div.circle.lightness {
	border-color: @editor-box-background-color;
}

/// AUTOCOMPLETE ///
@autocomplete-arrow-size: 5px;
@autocomplete-width: 300px;
.editor-autocomplete-box {
	position: absolute;
	background-color: @editor-box-background-color;
	margin-top: @autocomplete-arrow-size + 1px;
	margin-left: -13px;
	.border-radius();

	.editor-autocomplete-arrow {
		#popoverArrow > .bottom(@autocomplete-arrow-size, @editor-box-background-color);
		position: absolute;
		width: 0;
		height: 0;
		margin-top: -@autocomplete-arrow-size;
		left: 10px;
	}
}

.editor-autocomplete-content {
	min-width: 100px;
	max-height: 140px;
	margin: 8px;
	overflow-y: auto;
}

.editor-autocomplete-line {
	.code-foreground();
	padding: 0px 2px;
	cursor: pointer;
	white-space: nowrap;

	&.editor-autocomplete-selected {
		background-color: @highlight-color;
	}
}

/// TOOLBAR ///
@toolbar-bubble-arrow-size: @box-arrow-size;
@toolbar-bubble-color: lighten(@editor-box-background-color, 5%);
.editor-toolbar-step-bubble {
	.code-foreground();
	position: absolute;
	left: -@toolbar-bubble-arrow-size;
	top: 0px;
	background-color: @toolbar-bubble-color;
	padding: 5px;
	z-index: 1000;
	.border-radius();
	@shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0px 1px 1px rgba(130, 130, 130, 0.2);
	.box-shadow(@shadow);

	.editor-toolbar-step-bubble-arrow {
		#popoverArrow > .left(@toolbar-bubble-arrow-size, @toolbar-bubble-color);
		position: absolute;
		width: 0;
		height: 0;
		margin-right: -@toolbar-bubble-arrow-size;
		right: 0px;
	}

	&.editor-toolbar-step-editing .editor-toolbar-step-value {
	background-color: @editor-marking-color;
		cursor: col-resize;

		&:hover, &.active {
			background-color: @editor-marking-color-active;
		}
	}
}