#dares-popup .dares-robotgoal-robot {
	float: right;
	margin: 0px 8px 5px 15px;
}

.dare-robotgoal {
	.dare-robotgoal-original-container {
		float: right;
		position: relative;
		margin: 0px 1px 5px 15px;
		cursor: pointer;
		margin-top: 10px;
		overflow: hidden;
		
		.dare-robotgoal-original-refresh {
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -(14+3)/2px;
			margin-top: -(20+1)/2px;
			line-height: 24px;
			background-color: rgba(0, 0, 0, 0.7);
			width: 14px;
			height: 20px;
			padding: 1px 3px;
			.border-radius(3px);
		}

		&:hover .dare-robotgoal-original-refresh {
			display: block;
		}
	}

	.dare-points-robotgoal {
		.dare-points-robotgoal-squares {
			margin-bottom: 10px;

			.dare-points-robotgoal-square {
				width: 40px;
				height: 40px;
				display: inline-block;
				border: 3px solid #eee;
				margin-right: 20px;
				.transition(background-color 0.3s linear);

				&.dare-points-robotgoal-square-active {
					background-color: #080;
				}

				&.dare-points-robotgoal-square-blink {
					background-color: lighten(#080, 7%);
				}
			}

			.dare-points-robotgoal-optional {
				display: inline-block;
				background: #222;
				padding: 10px 13px 8px;
				.border-radius(5px);
				margin-left: -6px;
			}

			.dare-points-robotgoal-optional-text {
				position: relative;
				bottom: 18px;
				margin-left: -8px;
				color: #bbb;
			}
		}
	}

	/*
	.dare-points-robotgoal {
		.code-well();
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 0px;
		position: relative;
		overflow: auto;
		width: 100%;

		.dare-points-robotgoal-goals {
			padding: 15px;
			overflow: auto;
		}

		.dare-points-robotgoal-square {
			width: 40px;
			height: 40px;
			float: left;
			border: 3px solid #eee;
			margin-right: 20px;

			&.dare-points-robotgoal-square-active {
				background-color: #080;
			}

			&.dare-points-robotgoal-square-blink {
				background-color: lighten(#080, 7%);
			}
		}

		.dare-points-robotgoal-points {
			position: absolute;
			right: 10px;
			top: 4px;
			color: #eee;
			height: 40+2*15px;
			line-height: 40+2*15px;
			font-size: 36px;
			
			&.win {
				color: #0d0;
			}
		}
	}
	*/
}