.dare {
	padding: 15px;

	.dare-description {
		overflow: auto;
	}

	.dare-text {
		margin-bottom: 10px;
	}

	.dare-submit {
		font-weight: bold;
	}
	
	.dare-points {
		.code-well();
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 0px;
		position: relative;
		overflow: auto;
		width: 100%;
		color: #FBFBFB;

		.dare-points-info {
			padding: 10px;
			width: 390px;

			.dare-points-title {
				font-size: 20px;
				line-height: 20px;
				font-weight: bold;
				margin-bottom: 10px;
			}
			
			.dare-points-constraints {
				margin-left: 10px;
				font-size: 14px;
				color: #666;
				vertical-align: text-bottom;
				font-weight: normal;
			}
		}


		.dare-points-points {
			position: absolute;
			top: 10px;
			right: 10px;
			line-height: 30px;
			font-size: 30px;
			padding: 5px 10px;
			background-color: #080;
			font-family: "Helvetica Neue";
			font-weight: bold;
			color: white;
			border-radius: 5px;
		}

		.dare-points-console {
			position: absolute;
			left: 5px;
			top: 5px;
		}

		.dare-points-code {
			float: right;
			padding: 5px 5px 5px 5%; // intentional!
			border-left: 1px solid #333;
			width: 75%;

			.dare-points-changing {
				background-color: @highlight-color;
			}
		}
	}

	.dare-score {
		.code-well();
		@shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), inset 0px 1px 0px #333;
		.box-shadow(@shadow);

		overflow: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		color: white;
		font-size: 13px;
		line-height: 20px;
		padding: 8px 8px 5px;
		background-image: url(../img/star-black.png);
		.animation(dare-score-star-move-anim, 1.5s);

		span {
			margin-right: 10px;
		}

		i {
			margin-top: -2px;
		}
	}
}

.dare-score-star-move-anim() {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 0px 18px;
	}
}

// hack hack hack
@keyframes dare-score-star-move-anim {
	.dare-score-star-move-anim();
}
@-webkit-keyframes dare-score-star-move-anim {
	.dare-score-star-move-anim();
}
@-moz-keyframes dare-score-star-move-anim {
	.dare-score-star-move-anim();
}
@-ms-keyframes dare-score-star-move-anim {
	.dare-score-star-move-anim();
}
@-o-keyframes dare-score-star-move-anim {
	.dare-score-star-move-anim();
}

