<table border="0" cellpadding="20" cellspacing="0" width="100%">
	<tr>
		<td valign="top" style="border-collapse: collapse;">
			<div style="color: #505050; font-family: Helvetica,Arial; font-size: 14px; line-height: 150%; text-align: left;" align="left">
				<h2 class="h2" style="color: #202020; display: block; font-family: Arial; font-size: 30px; font-weight: bold; line-height: 100%; text-align: left; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0;" align="left">A warm welcome to you!</h2>

				I'm very happy that you've just joined jsdares! You can start playing and creating with Javascript immediately at <a href="http://preview.jsdares.com" style="color:#336699; font-weight:normal; text-decoration:underline;">preview.jsdares.com</a>.

				<br />
				<br />
				You've chosen the username <strong>{{username}}</strong>, which you can use to log in. We won't send you your password, but if you ever forget it, you'll be sent a new one on this email address.

				<br />
				<br />
				Since jsdares is only in beta, I would like to ask you to report any bugs, problems, ideas, and other questions you might have directly to me, at <a href="mailto:jp@jsdares.com" style="color:#336699; font-weight:normal; text-decoration:underline;">jp@jsdares.com</a>. If you're learning programming, do tell me which dares you like most! If you're already an experienced programmer, please create as many awesome dares as you can! In any case, your contribution is highly valued. :)

				<br />
				<br />

				Thanks, and enjoy jsdares!<br />
				Jan Paul Posma
			</div>
		</td>
	</tr>
</table>

