@import "../bootstrap/less/mixins.less";

.cs-console {
	margin: 0;
	padding: 10px;
	position: relative;
	background-color: #333;
	overflow: auto;
}

.cs-line {
	background-color: #333;
	border: none;
	font-family: "Courier", monospace;
	color: #0d0;
	margin: 0px;
	font-size: 14px;
	outline: none;
	resize: none;
	white-space: pre-wrap;
	line-height: 16px;
	word-wrap: break-word;
}

.cs-highlight {
	background-color: rgba(50, 250, 50, 0.4);
	cursor: crosshair;
}